<div class="header">
	<div class="container">
		<div class="w3l_header_left">
			<ul>
				<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+ (123) 111 222 333</li>
				<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:projectupkar@gmail.com">projectupkar@gmail.com</a></li>
			</ul>
		</div>

		<div class="w3l_header_right">
			<ul>
				<li><a  data-wow-delay=".5s" href="/donate"><span class="https://cloud.githubusercontent.com/assets/20895672/17467391/21296fa4-5d61-11e6-8526-6425cdc8c37a.png" aria-hidden="true"></span>Donate</a></li>
			</ul>
		</div>

		<div class="clearfix"> </div>

	</div>
</div>

<div class="logo-navigation-w3layouts">
	<div class="container">
		<div class="logo-w3">
			<a href="/"><h1><img src="images/logo.png" alt=" " /><span>upkar</span></h1></a>
		</div>
		<div class="navigation agileits w3layouts">
			<nav class="navbar agileits w3layouts navbar-default navbar-inverse">
				<div class="navbar-header agileits w3layouts">
					<button type="button" class="navbar-toggle agileits w3layouts collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
						<span class="sr-only agileits w3layouts">Toggle navigation</span>
						<span class="icon-bar agileits w3layouts"></span>
						<span class="icon-bar agileits w3layouts"></span>
						<span class="icon-bar agileits w3layouts"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse hover-effect" id="navbar">
					<ul class="agileits w3layouts">
						<li class="agileits w3layouts"><a href="/">Home</a></li>
						<li class="agileits w3layouts"><a class="scroll" href="#about" onclick=$("#menu-close").click();>About</a></li>
						<li><a href="/students">Students</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Upkar<b class="caret"></b></a>							<ul class="dropdown-menu" id="dropdown-menu">
							<li class="kaddu"><a class="kaddu" href="/ourstory">Our Story</a></li>
							<li class="kaddu"><a class="kaddu" href="/teaching">Teaching Methodology</a></li>
							<li class="kaddu"><a class="kaddu" href="/learning">Learning Environment </a></li>
							<li class="kaddu"><a class="kaddu" href="/meet-our-team">Meet Our Team</a></li>
						</ul>
					</li>
					<li class="agileits w3layouts"><a class="scroll" href="#gallery" onclick=$("#menu-close").click();>Gallery</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="clearfix"></div>
</div>
</div>

<script type="text/javascript">
	$('ul.nav li.dropdown').hover(function() {
		$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
	}, function() {
		$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
	});
</script>


